<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-gui-script minSpecVersion="1">
    <title>CangjieX</title>
    <organization>io.github.geekstek</organization>
    <domains enable_localSystem="true"/>
    <options customize="never" require-scripts="true" rootVolumeOnly="true" />
    <!-- Define documents displayed at various steps -->
    <license    file="License.rtf"    mime-type="application/rtf" />
    <!-- List all component packages -->
    <pkg-ref id="io.github.geekstek.cangjiex.inputmethod"
             version="0"
             auth="root">CangjieXComponent.pkg</pkg-ref>
    <!-- List them again here. They can now be organized
         as a hierarchy if you want. -->
    <choices-outline>
        <line choice="io.github.geekstek.cangjiex.inputmethod"/>
    </choices-outline>
    <!-- Define each choice above -->
    <choice
        id="io.github.geekstek.cangjiex.inputmethod"
        visible="false"
        title="CangjieX"
        description="CangjieX / 倉頡星"
        start_selected="true">
      <pkg-ref id="io.github.geekstek.cangjiex.inputmethod" onConclusion="RequireLogout"/>
    </choice>
</installer-gui-script>
